/** @format */
.page-body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.container {
  max-width: 1145px;
  margin: 0 auto;
  text-align: center;
}
.header {
  padding-top: 26px;
  padding-bottom: 26px;
}
.nav {
  width: 620px;
  margin: 0 auto;
}

.menu {
  margin: 0;
}
.menu-item {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  padding-left: 30px;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
}
.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}
.img {
  width: 100%;
}
.main-title {
  margin: 0;
  padding: 48px 0 38px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.3px;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #373737;
  padding-bottom: 28px;
  margin: 0;
}

.btn {
  padding: 18px 43px;
  margin-top: 38px;
  background: #ff0000;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer {
  padding-top: 40px;
  padding-bottom: 30px;
}
.text-footer {
  margin: 0;
  padding-right: 50px;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
